<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-famile: Arial; font-size: 14px">

	<p>Olá</p><br/>

	<p>Existem receitas ou despesas vencidas ou vencendo hoje. Veja:</p>

	<p>
		<table style="width: 100%; border-collapse: collapse; margin: 20px 0">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Senha</th>
				</tr>
			</thead>
	
			<tbody>
				<tr style="boder-bottom: 1px solid #ccc; border-top: 1px solid #ccc;" 
					th:each="usuario: ${usuarios}">
					<td th:text="${usuario.nome}">Nome</td>
					<td th:text="${usuario.senha}">Senha</td>
				</tr>
			</tbody>
		</table>
	</p>

	<p>Obrigado.</p>
	<p>Equipe Algamoney!</p>

</body>

</html>